[user]
	name = Splinters2006
	email = miraschelkens@gmail.com

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[core]
	editor = nano

[color]
	ui = auto

[alias]
	st = status --short
	co = checkout
	br = branch
	cm = commit
	lg = log --oneline --decorate --graph --all

[include]
	path = ~/.config/dotfiles/git-user.inc
